batch/src/main/mule/batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c0a53322-6c74-425a-addc-f9bd36d16182" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Root@1" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="939a0779-ff7b-4506-af8b-354528f23853" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batchFlow" doc:id="b75270ef-de82-4a99-a56d-577a5fed89af" >
		<http:listener doc:name="Listener" doc:id="b21562cb-137d-4067-b4e3-840af65bb91c" config-ref="HTTP_Listener_config" path="/batch"/>
		<ee:transform doc:name="Transform Message" doc:id="5df12652-8068-4eab-bda1-c13dbca20383" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 50 map
{
	id: 1 + $$,
	name: "Aarzoo",
	number: 9920925327,
	lname: "Khan"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchBatch_Job" doc:id="b1feccd5-eead-4362-a45f-dd4476d360ab" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="4c67181d-598c-495e-97f1-da4d5ed31dfc" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="30de3dd1-1796-4fd5-9412-a5856eb4f7e5" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="1096d213-2c30-4f6b-b35e-8a7b54626600" message="#[payload]"/>
						<db:bulk-insert doc:name="Bulk insert" doc:id="394046dc-8398-4d9e-8948-e3657c043b71" config-ref="Database_Config">
							<db:sql ><![CDATA[insert into db1.student1 (id, name, number, lname)
values (:id, :name, :number, :lname)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="d3c7406c-9d38-47b6-a536-dcd851187841" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="7a7d7ca8-eca8-4405-ac65-93033b1b6d1a" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
